.profile {
    width: 550px;
    margin: 0 auto;
    border: solid 1px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 10px;
    
}

.description{

}

.avatar{

}

.name{

}

.tag{

}

.location{

}

.statName{

}

.label{

}

.quantity{
    
}