.item {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding: 10px;
    border: solid 1px;
    margin-bottom: 5px;
    align-items: center;
    background-color: #fff;
}

.status{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.avatar{

}

.name{
    font-size: 18px;
    font-weight: bold;
}