.statistics{
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: solid 1px;
    background-color: #fff;
    margin-bottom: 10px;
}

.title{
    font-size: 40px;
    text-transform: uppercase;
    color: dimgrey;
    font-weight: bold;
}

.statList{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.item {
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid;
    border-right: 1px solid;
}

.item:last-child {
    border-right: none;
}

.label{
    display: block;
}

.percentage{
    display: block;
}